<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="子系统个数" value="0"/>
    <!--<add key="颜色" value="true"/>
    <add key="形状" value="true"/>
    <add key="瑕疵" value="true"/>
    <add key="体积" value="false"/>
    <add key="投影面积" value="false"/>
    <add key="擦伤" value="false"/>
    <add key="腐烂" value="false"/>
    <add key="密度" value="false"/>
    <add key="含糖量" value="false"/>
    <add key="酸度" value="false"/>
    <add key="空心" value="false"/>
    <add key="浮皮" value="false"/>
    <add key="褐变" value="false"/>
    <add key="糖心" value="false"/>
    <add key="硬度" value="false"/>
    <add key="含水率" value="false"/>-->
    <add key="贴标机1" value=""/>
    <add key="贴标机2" value=""/>
    <add key="贴标机3" value=""/>
    <add key="贴标机4" value=""/>
    <add key="装箱数1" value="20"/>
    <add key="装箱数2" value="15"/>
    <add key="出口报警阈值" value="30"/>
    <!--<add key="形状参数0-类型" value="横径比"/>
    <add key="形状参数0-小于" value="圆"/>
    <add key="形状参数0-大于" value="长"/>
    <add key="形状参数1-类型" value=""/>
    <add key="形状参数1-小于" value=""/>
    <add key="形状参数1-大于" value=""/>
    <add key="形状参数2-类型" value=""/>
    <add key="形状参数2-小于" value=""/>
    <add key="形状参数2-大于" value=""/>
    <add key="形状参数3-类型" value=""/>
    <add key="形状参数3-小于" value=""/>
    <add key="形状参数3-大于" value=""/>
    <add key="形状参数4-类型" value=""/>
    <add key="形状参数4-小于" value=""/>
    <add key="形状参数5-类型" value=""/>
    <add key="形状参数5-小于" value=""/>
    <add key="形状参数5-大于" value=""/>
    <add key="形状参数6-类型" value=""/>
    <add key="形状参数6-小于" value=""/>
    <add key="形状参数6-大于" value=""/>
    <add key="形状参数7-类型" value=""/>
    <add key="形状参数7-小于" value=""/>
    <add key="形状参数7-大于" value=""/>
    <add key="形状参数8-类型" value=""/>
    <add key="形状参数8-小于" value=""/>
    <add key="形状参数8-大于" value=""/>
    <add key="形状参数9-类型" value=""/>
    <add key="形状参数9-小于" value=""/>
    <add key="形状参数9-大于" value=""/>
    <add key="形状参数4-大于" value=""/>-->
    <add key="颜色参数-颜色1" value="Red"/>
    <add key="颜色参数-颜色2" value="Yellow"/>
    <add key="颜色参数-颜色3" value="Lime"/>
    <!--<add key="重量设置-当前重量" value="200"/>
    <add key="重量设置-阈值" value="5"/>-->
    <add key="用户配置参数" value="(未保存)"/>
    <add key="选择的语言" value="null"/>
    <!--<add key="Wifi功能" value="false"/>-->
    <add key="重量等级标准" value="23;27;32;40;48;56;64;72;80;88;100;113;125;138;140;152;165"/>
    <!--水果种类配置信息-start-->
    <add key="水果种类大类" value="脐橙(1-16);桔子(17-32);柠檬(33-48);猕猴桃(49-64);红枣(65-80);梨(81-96);蜜柚(97-112);苹果(113-128);石榴(129-144);山竹(145-160);土豆(161-176);辣椒(177-192);甜柿(193-208);桃子(209-224);洋葱(225-240);圣女果(241-256);西红柿(257-272);"/>
    <add key="水果种类大类en" value="Orange(1-16);Tangerine(17-32);Lemon(33-48);Kiwifruit(49-64);RedDates(65-80);Pear(81-96);Grapefruit(97-112);Apple(113-128);Pomegranate(129-144);Mangosteen(145-160);Potato(161-176);HotPepper(177-192);Persimmon(193-208);Peach(209-224);Onion(225-240);CherryTomatoes(241-256);Tomato(257-272);"/>
    <add key="水果种类大类es" value="Naranja(1-16);Mandarina(17-32);Limón(33-48);Kiwi(49-64);Azufaifa(65-80);Pera(81-96);Pomelo(97-112);Manzana(113-128);Granada(129-144);Mangostán(145-160);Papa(161-176);Pimiento(177-192);Caqui(193-208);Durazno(209-224);Cebolla(225-240);Tomate Cherry(241-256);Tomate(257-272);"/>
    <add key="脐橙(1-16)" value="新鲜脐橙;储藏橙;南非脐橙;黄绿橙;夏橙;"/>
    <add key="桔子(17-32)" value="南丰蜜桔;黄绿桔;橘柚;Tambore;"/>
    <add key="柠檬(33-48)" value="安岳柠檬;绿圆柠檬;"/>
    <add key="猕猴桃(49-64)" value="四川猕猴桃;"/>
    <add key="红枣(65-80)" value="好想你枣;"/>
    <add key="梨(81-96)" value="鸭梨;"/>
    <add key="蜜柚(97-112)" value="中粮蜜柚;白柚;黄绿柚;"/>
    <add key="苹果(113-128)" value="苹果;"/>
    <add key="石榴(129-144)" value="百香果;"/>
    <add key="山竹(145-160)" value=""/>
    <add key="土豆(161-176)" value=""/>
    <add key="辣椒(177-192)" value="甜椒;"/>
    <add key="桃子(209-224)" value="带叶桃;桃;黄桃;"/>
    <add key="甜柿(193-208)" value=""/>
    <add key="洋葱(225-240)" value=""/>
    <add key="圣女果(241-256)" value=""/>
    <add key="西红柿(257-272)" value="西红柿;"/>
    <add key="已选水果种类" value="1-新鲜脐橙;33-安岳柠檬;113-苹果;"/>
    <add key="IPM-192.168.0.17" value="00-E0-6F-69-D0-22"/>
    <!--水果种类配置信息-end-->
    <add key="当前数据库" value="null"/>
    <add key="数据源" value="REEMOON_RD\MSSQLSERVER_2008"/>
    <add key="数据库" value="db_FruitSort"/>
    <add key="用户名" value="sa"/>
    <add key="密码" value="reemoon"/>
    <add key="拆分器距离" value="450"/>
    <add key="拆分器距离2" value="560"/>
    <add key="出口垂直滚动条" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!-- 平板出口信息设置 -start-->
    <!--<add key="抽检出口" value="0"/>
    <add key="抽检数量" value="0"/>-->
    <add key="出口显示名称类型" value="0"/>
    <add key="出口1显示名称" value=""/>
    <add key="出口1附加信息" value=""/>
    <add key="出口2显示名称" value=""/>
    <add key="出口2附加信息" value=""/>
    <add key="出口3显示名称" value=""/>
    <add key="出口3附加信息" value=""/>
    <add key="出口4显示名称" value=""/>
    <add key="出口4附加信息" value=""/>
    <add key="出口5显示名称" value=""/>
    <add key="出口5附加信息" value=""/>
    <add key="出口6显示名称" value=""/>
    <add key="出口6附加信息" value=""/>
    <add key="出口7显示名称" value=""/>
    <add key="出口7附加信息" value=""/>
    <add key="出口8显示名称" value=""/>
    <add key="出口8附加信息" value=""/>
    <add key="出口9显示名称" value=""/>
    <add key="出口9附加信息" value=""/>
    <add key="出口10显示名称" value=""/>
    <add key="出口10附加信息" value=""/>
    <add key="出口11显示名称" value=""/>
    <add key="出口11附加信息" value=""/>
    <add key="出口12显示名称" value=""/>
    <add key="出口12附加信息" value=""/>
    <add key="出口13显示名称" value=""/>
    <add key="出口13附加信息" value=""/>
    <add key="出口14显示名称" value=""/>
    <add key="出口14附加信息" value=""/>
    <add key="出口15显示名称" value=""/>
    <add key="出口15附加信息" value=""/>
    <add key="出口16显示名称" value=""/>
    <add key="出口16附加信息" value=""/>
    <add key="出口17显示名称" value=""/>
    <add key="出口17附加信息" value=""/>
    <add key="出口18显示名称" value=""/>
    <add key="出口18附加信息" value=""/>
    <add key="出口19显示名称" value=""/>
    <add key="出口19附加信息" value=""/>
    <add key="出口20显示名称" value=""/>
    <add key="出口20附加信息" value=""/>
    <add key="出口21显示名称" value=""/>
    <add key="出口21附加信息" value=""/>
    <add key="出口22显示名称" value=""/>
    <add key="出口22附加信息" value=""/>
    <add key="出口23显示名称" value=""/>
    <add key="出口23附加信息" value=""/>
    <add key="出口24显示名称" value=""/>
    <add key="出口24附加信息" value=""/>
    <add key="出口25显示名称" value=""/>
    <add key="出口25附加信息" value=""/>
    <add key="出口26显示名称" value=""/>
    <add key="出口26附加信息" value=""/>
    <add key="出口27显示名称" value=""/>
    <add key="出口27附加信息" value=""/>
    <add key="出口28显示名称" value=""/>
    <add key="出口28附加信息" value=""/>
    <add key="出口29显示名称" value=""/>
    <add key="出口29附加信息" value=""/>
    <add key="出口30显示名称" value=""/>
    <add key="出口30附加信息" value=""/>
    <add key="出口31显示名称" value=""/>
    <add key="出口31附加信息" value=""/>
    <add key="出口32显示名称" value=""/>
    <add key="出口32附加信息" value=""/>
    <add key="出口33显示名称" value=""/>
    <add key="出口33附加信息" value=""/>
    <add key="出口34显示名称" value=""/>
    <add key="出口34附加信息" value=""/>
    <add key="出口35显示名称" value=""/>
    <add key="出口35附加信息" value=""/>
    <add key="出口36显示名称" value=""/>
    <add key="出口36附加信息" value=""/>
    <add key="出口37显示名称" value=""/>
    <add key="出口37附加信息" value=""/>
    <add key="出口38显示名称" value=""/>
    <add key="出口38附加信息" value=""/>
    <add key="出口39显示名称" value=""/>
    <add key="出口39附加信息" value=""/>
    <add key="出口40显示名称" value=""/>
    <add key="出口40附加信息" value=""/>
    <add key="出口41显示名称" value=""/>
    <add key="出口41附加信息" value=""/>
    <add key="出口42显示名称" value=""/>
    <add key="出口42附加信息" value=""/>
    <add key="出口43显示名称" value=""/>
    <add key="出口43附加信息" value=""/>
    <add key="出口44显示名称" value=""/>
    <add key="出口44附加信息" value=""/>
    <add key="出口45显示名称" value=""/>
    <add key="出口45附加信息" value=""/>
    <add key="出口46显示名称" value=""/>
    <add key="出口46附加信息" value=""/>
    <add key="出口47显示名称" value=""/>
    <add key="出口47附加信息" value=""/>
    <add key="出口48显示名称" value=""/>
    <add key="出口48附加信息" value=""/>
    <!-- 平板出口信息设置 -end-->
    <!-- 数据上传下载配置 -start-->
    <add key="绑定地址" value="192.168.200.240"/>
    <add key="访问地址" value="http://220.176.29.228:8081/rm/DataServer/"/>
    <add key="上传起始时间" value="1970-01-01 00:00:00"/>
    <add key="下载起始时间" value="1970-01-01 00:00:00"/>
    <add key="设备编号" value="RM201812191458"/>
    <add key="Mac地址" value="A8-1E-84-E5-1C-7A"/>
    <add key="出厂日期" value="2018-12-19 14:59:00"/>
    <add key="国家" value="中国"/>
    <add key="地区" value="江苏省无锡市锡山区"/>
    <add key="详细地址" value="大成路299号"/>
    <add key="负责人" value="ChengSk"/>
    <add key="联系电话" value="13512346688"/>
    <add key="TV账号" value="328555069"/>
    <add key="TV密码" value="123456"/>
    <!-- 数据上传下载配置 -end-->
    <add key="可疑批次结束时间" value=""/>
    <!-- 标签使用 -->
    <add key="标签启用" value="0"/>
    <add key="标签B均值" value="127"/>
    <add key="标签G均值" value="127"/>
    <add key="标签R均值" value="127"/>
    <add key="标签Y值范围" value="10"/>
    <add key="标签H值范围" value="10"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <!--Insert By ChengSk 20131108-->
  <connectionStrings>
    <add name="dbConn" connectionString="data source=.;database=db_FruitSort;user=sa;pwd=12345678"/>
  </connectionStrings>
  <!--Insert By ChengSk 20131108 End-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
